* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 65px;
}

h1, h2 {
	background-color: #000;
	color: #fff;
}

h1 {
	margin: 90px 0 50px 0;
}

h2, ul {
	margin: 50px 0;
}

ul {
	padding: 20px;
}

main p:last-child {
	margin-bottom: 93px;
}